  <mat-card class="product-page-card">
    <mat-card-title
      class="product-page-card-title"
      fxLayout="row"
      fxAlign="center"
    >
      {{ product?.name }}</mat-card-title
    >
    <img mat-card-image [src]="imageUrl" />
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field appearance="fill">
        <mat-label>Size</mat-label>
        <mat-select
          (selectionChange)="
            updateSelectedProductAttributes(
              this.selectedAttributes?.flavor,
              $event.value
            )
          "
          required
        >
          <mat-option *ngFor="let size of product?.sizes" [value]="size">
            {{ size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Select your flavor:</h4>
      <mat-chip-list aria-label="Flavors selection">
        <mat-chip
          *ngFor="let flavor of product?.flavors"
          class="chip mat-elevation-6"
          [style.background-color]="flavor.color"
          (click)="
            updateSelectedProductAttributes(
              flavor,
              this.selectedAttributes?.size
            )
          "
        >
          {{ flavor.name }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button
        mat-raised-button
        color="primary"
        class="snipcart-add-item"
        [attr.data-item-id]="product?.id"
        [attr.data-item-price]="product?.price"
        [attr.data-item-url]="'/api/products/' + product?.id"
        [attr.data-item-image]="imageUrl"
        [attr.data-item-name]="product?.name"
        data-item-custom1-name="Flavor"
        [attr.data-item-custom1-options]="flavorOptions"
        [attr.data-item-custom1-value]="this.selectedAttributes?.flavor?.name"
        data-item-custom2-name="Size"
        [attr.data-item-custom2-options]="sizeOptions"
        [attr.data-item-custom2-value]="this.selectedAttributes?.size"
      >
        Add to cart
      </button>
    </mat-card-actions> 
  </mat-card>
