/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/theming';
@include mat-core();


$custom-theme-primary: mat-palette($mat-purple);
$custom-theme-accent: mat-palette($mat-pink);
$custom-theme-warn: mat-palette($mat-red, 500, A200, A700);
//creating your theme
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
//updating main theme 
@include angular-material-theme($custom-theme);

html, body { height: 100%; background-color: rgb(248, 245, 248) }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
